// Place all the styles related to the booking controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.select-dropdown{
  padding-left: 1em !important;
}

#check_availability{
  margin-top: 2em;
  font-size: 0.8em;
  background-color: transparent;
  border: 1px solid gray;
}

.delete_booking{
  background-color: transparent;
  border: 1px solid gray;
}